[MASTER]

ignore=tests, example.py, db_helper.py

[MESSAGE CONTROL]

disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring,
        fixme,
        broad-exception-caught,
        too-few-public-methods,
        bare-except,
        too-many-instance-attributes

[FORMAT]

max-line-length=80

[REFACTORING]

max-nested-blocks=3

[DESIGN]

max-statements=15

[BASIC]

function-naming-style=snake_case
class-naming-style=PascalCase
const-naming-style=UPPER_CASE
