{% extends "layout.html" %}
{% block title %}
BibTeX Representation
{% endblock %}
{% block body %}
<h2 id="pagetitle">BibTeX Representation</h2>
<div class="jumbotron text-left bg-light" id="bibtexbox">
  <pre id="bibtex-content">{{ bibtex_entry }}</pre>
  <button class="btn btn-outline-secondary" onclick="copyToClipboard()">Copy to Clipboard</button>
  <form action="/download_bibtex/{{ reference_id }}" method="GET">
    <button type="submit" class="btn btn-outline-secondary">Download File</button>
  </form>
  <form action="/" method="GET">
    <button type="submit" class="btn btn-outline-secondary">Back</button>
  </form>

  <script>
    function copyToClipboard() {
      const bibtexContent = document.getElementById('bibtex-content').innerText;
      navigator.clipboard.writeText(bibtexContent).then(function () {
        alert('Copied to clipboard!');
      }, function (err) {
        alert('Failed to copy: ', err);
      });
    }
  </script>
</div>
{% endblock %}