{% extends "layout.html" %}

{% block title %}
Search reference
{% endblock %}

{% block body %}
<br>
<h2 id="pagetitle">Search references</h2>
<br>
<h6 id="countreftitle">Saved references: {{ total }}</h6>
<br>

<div class="jumbotron text-center bg-light" id="searchbox">
<form class="form-container" action="/search_reference">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <h4>Filters:</h4>
    <br>

    <label class="col-sm-1" for="author">Author:</label>
    <input type="text" name="author" value="{{ author }}">
    <br>

    <label class="col-sm-1" for="title">Title:</label>
    <input type="text" name="title" value="{{ title }}">
    <br>

    <label class="col-sm-1" for="ref_type">type:</label>
    <input type="text" name="ref_type" value="{{ ref_type }}">
    <br>

    <label class="col-sm-1" for="year">Year:</label>
    <input type="number" min=1900 max=2024 name="year" value="{{ year }}">
    <br>
    <br>
    <button type="submit" class="btn btn-dark">
        Search
    </button>
</form>
</div>

<div id="referencelist">
  <div>
    <br>
    <h4>Matching references: {{ references|length }}</h4>
  </div>

  {% if references|length != 0 %}
  <div>
    <form action="/export_bibtex/filtered" method="GET">
      <input type="hidden" name="reference_ids" value="{{ references | map(attribute='id') | join(',') }}">
      <button type="submit" class="btn btn-success"> Export filtered </button>
    </form>
  </div>
  <br>
  {% endif %}
<ul class="list-group">
  {% for reference in references %}
  <li class="list-group-item d-flex justify-content-between align-items-center" style="display: flex">
    <div>
      <br>
      <h4 class="mb-1"> {{reference.title}}</h4>
      <br>

      <dl class="row">

        <dt class="col-sm-2"> Type </dt>
        <dd class="col-sm-10"> {{reference.ref_type}}</dd>

        <dt class="col-sm-2"> Author </dt>
        <dd class="col-sm-10"> {{reference.author}}</dd>

        <dt class="col-sm-2"> Title </dt>
        <dd class="col-sm-10"> {{reference.title}}</dd>

        <dt class="col-sm-2"> Year </dt>
        <dd class="col-sm-10"> {{reference.year}}</dd>

        {% if reference.booktitle %}
        <dt class="col-sm-2"> Booktitle </dt>
        <dd class="col-sm-10"> {{reference.booktitle}}</dd>
        {% endif %}


        {% if reference.editor %}
        <dt class="col-sm-2"> Editor </dt>
        <dd class="col-sm-10"> {{reference.editor}}</dd>
        {% endif %}

        {% if reference.volume %}
        <dt class="col-sm-2"> Volume </dt>
        <dd class="col-sm-10"> {{reference.volume}}</dd>
        {% endif %}

        {% if reference.number %}
        <dt class="col-sm-2"> Number </dt>
        <dd class="col-sm-10"> {{reference.number}}</dd>
        {% endif %}

        {% if reference.series %}
        <dt class="col-sm-2"> Series </dt>
        <dd class="col-sm-10"> {{reference.series}}</dd>
        {% endif %}

        {% if reference.pages %}
        <dt class="col-sm-2"> Pages </dt>
        <dd class="col-sm-10"> {{reference.pages}}</dd>
        {% endif %}

        {% if reference.address%}
        <dt class="col-sm-2"> Address </dt>
        <dd class="col-sm-10"> {{reference.address}}</dd>
        {% endif %}

        {% if reference.month %}
        <dt class="col-sm-2"> Month </dt>
        <dd class="col-sm-10"> {{reference.month}}</dd>
        {% endif %}

        {% if reference.organisation %}
        <dt class="col-sm-2"> Organisation </dt>
        <dd class="col-sm-10"> {{reference.organisation}}</dd>
        {% endif %}

        {% if reference.publisher %}
        <dt class="col-sm-2"> Publisher </dt>
        <dd class="col-sm-10"> {{reference.publisher}}</dd>
        {% endif %}

        {% if reference.journal %}
        <dt class="col-sm-2"> journal </dt>
        <dd class="col-sm-10"> {{reference.journal}}</dd>
        {% endif %}

        {% if reference.note %}
        <dt class="col-sm-2"> note </dt>
        <dd class="col-sm-10"> {{reference.note}}</dd>
        {% endif %}

        {% if reference.tags %}
        <div class="tags-container" style="display: flex; flex-wrap: wrap; gap: 10px; justify-content: center;">
          {% for tag in reference.tags %}
            <span style="border-radius: 10px; background-color: rgba({{ tag.color }}, 0.4); padding: 5px; border: 2px solid rgba({{ tag.color }});">
              {{ tag.name }}
            </span>
          {% endfor %}
        </div>
        {% endif %}
        </dl>

        </form>
        <div style="display: flex; gap: 10px;">
          </form>
          <form action="/export_bibtex/{{reference.id}}" method="GET">
            <button type="submit" class="btn btn-success mr-2">Export BibTeX</button>
          </form>
          <form action="/edit_reference/{{reference.id}}" method="GET">
            <button type="submit" class="btn btn-warning mr-2"> Edit </button>
          </form>
          <form action="/delete_reference/{{reference.id}}" method="POST">
            <button type="submit" class="btn btn-danger mr-2"> Delete </button>
          </form>
        </div>


    </div>
  </li>
  <br>

  {% endfor %}
</ul>
</div>
{% endblock %}