{% extends "layout.html" %}

{% block title %}
Reference app
{% endblock %}

{% block body %}

<h2>Reference app</h2>

{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}

<div>
  Saved references: {{ unfinished }}
</div>
<ul>
  {% for reference in references %}
    <li style="display: flex">
      <div>
        {{reference.title}}
        <ul>
          <li> Type: {{reference.ref_type}}</li>
          <li> Author: {{reference.author}}</li>
          <li> Title: {{reference.title}}</li>
          <li> Year: {{reference.year}}</li>
          <li> Booktitle: {{reference.booktitle}}</li>
          <li> Editor: {{reference.editor}}</li>
          <li> Volume: {{reference.volume}}</li>
          <li> Number: {{reference.number}}</li>
          <li> Series: {{reference.series}}</li>
          <li> Pages: {{reference.pages}}</li>
          <li> Address: {{reference.address}}</li>
          <li> Month: {{reference.month}}</li>
          <li> Organisation: {{reference.organisation}}</li>
          <li> Publisher: {{reference.publisher}}</li>
        </ul>
        <form action="/edit_reference/{{reference.id}}" method="GET">
          <button type="submit"> Edit </button>      
        </form>
        <form action="/delete_reference/{{reference.id}}" method="POST">
          <button type="submit"> Delete </button>
        </form>
        </form>
        <form action="/export_bibtex/{{reference.id}}" method="GET">
          <button type="submit">Export BibTeX</button>
        </form>
      </div>
    </li>
    <br>
  {% endfor %}
</ul>

<div>
  <a href="/new_reference">Create new reference</a>
</div>

{% endblock %}