{% extends "layout.html" %}

{% block title %}
Create a new reference
{% endblock %}

{% block body %}

<h2>Create a new reference</h2>

<form action="/create_reference" method="post">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <h3>Reference type: Inproceedings</h3>
  <br>

  <h4>Mandatory fields</h4>
  <br>

  <label for="author">Author:</label>
  <input type="text" name="author">
  <br>

  <label for="title">Title:</label>
  <input type="text" name="title">
  <br>

  <label for="booktitle">Book title:</label>
  <input type="text" name="booktitle">
  <br>
  <label for="year">Year:</label>
  <input type="text" name="year">
  <br>

  <h4>Optional fields</h4>
  <br>

  <label for="editor">Editor:</label>
  <input type="text" name="editor">
  <br>

  <label for="volume">Volume:</label>
  <input type="text" name="volume">
  <br>

  <label for="number">Number:</label>
  <input type="text" name="number">
  <br>

  <label for="series">Series:</label>
  <input type="text" name="series">
  <br>

  <label for="pages">Pages:</label>
  <input type="text" name="pages">
  <br>

  <label for="address">Address:</label>
  <input type="text" name="address">
  <br>

  <label for="month">Month:</label>
  <input type="text" name="month">
  <br>

  <label for="organisation">Organisation:</label>
  <input type="text" name="organisation">
  <br>

  <label for="publisher">Publisher:</label>
  <input type="text" name="publisher">
  <br>&nbsp;

  <br>
  <button type="submit">
    Create
  </button>
</form>

<br>&nbsp;<br>
<div>
  <a href="/">List references</a>
</div>

{% endblock %}