
input {
  width: 400px;
}

#referencelist {
  margin-left: 400px;
  margin-right: 400px;
}

#searchbox {
  margin-left: 400px;
  margin-right: 400px;
}
#countreftitle {
  margin-left: 400px;

}
#pagetitle {
  margin-top: 50px;
  margin-left: 400px;

}
#bibtexbox {
  margin-left: 400px;
  margin-right: 400px;
  padding-left: 20%;
}

select.tags {
  margin-left: 0px;
  padding-left: 0px;
  text-align: left;
  width: 220px;
}
